In [77]:
import pandas as pd
import numpy as np

# File to Load (Remember to change these)
WHO_data_load = "WHO_AirQuality_Database_2018.csv"
cancer_data_to_load = "500_cancer.csv"
asthma_data_to_load = "500_asthma.csv"
diabetes_data_to_load = "500_diabetes.csv"

# Read the City and Ride Data
air_data_df = pd.read_csv(WHO_data_load)
cancer_data_df = pd.read_csv(cancer_data_to_load)
ashtma_data_df = pd.read_csv(asthma_data_to_load)
diabetes_data_df = pd.read_csv(diabetes_data_to_load)

In [78]:
air_data_df

,ID WHO city,iso3,country,city,pm10,Year,type_of_stations,pm10_type,pm25,pm25_type,...,latitude_pop,longitude_pop,Region,region_abbr,tempcov_PM10_grad,tempcov_PM25_grad,conc_pm25,color_pm25,conc_pm10,color_pm10
0,3.0,ALB,Albania,Tirana,31.615421,2013,"1 station, traffic, urban",Measured,16.062366,Measured,...,NaN,NaN,Europe (LMIC),Eur (LMIC),NaN,NaN,15-<25,orange,30-<50,darkred
1,15.0,AUS,Australia,Central Coast,12.820462,2014,-,Converted,5.500000,Measured,...,NaN,NaN,Western Pacific (HIC),Wpr (HIC),NaN,NaN,<10,green,<20,green
2,18.0,AUS,Australia,Devonport,14.918356,2013,-,Converted,6.400000,Measured,...,NaN,NaN,Western Pacific (HIC),Wpr (HIC),NaN,NaN,<10,green,<20,green
3,19.0,AUS,Australia,Geelong,17.500000,2014,"1 station, Residential/Light Industry",Measured,7.507530,Converted,...,NaN,NaN,Western Pacific (HIC),Wpr (HIC),NaN,NaN,<10,green,<20,green
4,22.0,AUS,Australia,Hobart,14.219058,2013,-,Converted,6.100000,Measured,...,NaN,NaN,Western Pacific (HIC),Wpr (HIC),NaN,NaN,<10,green,<20,green
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
11966,NaN,SAU,Saudi Arabia,Riyadh,201.000000,2014,1 N.A.,Measured,51.000000,Measured,...,24.690466,46.709566,Eastern Mediterranean (HIC),Emr (HIC),NaN,NaN,>50,darkred,>100,darkred
11967,NaN,SAU,Saudi Arabia,Riyadh,240.000000,2015,1 N.A.,Measured,69.000000,Measured,...,24.690466,46.709566,Eastern Mediterranean (HIC),Emr (HIC),NaN,NaN,>50,darkred,>100,darkred
11968,NaN,SAU,Saudi Arabia,Riyadh,251.000000,2016,1 N.A.,Measured,73.000000,Measured,...,24.690466,46.709566,Eastern Mediterranean (HIC),Emr (HIC),NaN,NaN,>50,darkred,>100,darkred
11969,NaN,SAU,Saudi Arabia,Dammam,260.000000,2015,1 N.A.,Measured,61.000000,Measured,...,26.392666,49.977715,Eastern Mediterranean (HIC),Emr (HIC),NaN,NaN,>50,darkred,>100,darkred
11970,NaN,SAU,Saudi Arabia,Dammam,161.000000,2016,1 N.A.,Measured,56.000000,Measured,...,26.392666,49.977715,Eastern Mediterranean (HIC),Emr (HIC),NaN,NaN,>50,darkred,>100,darkred

In [79]:
# filter for USA data only
air_data_df = air_data_df.loc[air_data_df["country"] == "United States of America"]

# change city to CityName
air_data_df = air_data_df.rename(columns={"city":"CityName"})

air_data_df.head()

,ID WHO city,iso3,country,CityName,pm10,Year,type_of_stations,pm10_type,pm25,pm25_type,...,latitude_pop,longitude_pop,Region,region_abbr,tempcov_PM10_grad,tempcov_PM25_grad,conc_pm25,color_pm25,conc_pm10,color_pm10
639,2604.0,USA,United States of America,Adrian,16.252915,2014,-,Converted,8.8,Measured,...,NaN,NaN,Americas (HIC),Amr (HIC),NaN,NaN,<10,green,<20,green
640,2605.0,USA,United States of America,Akron,19.207991,2014,-,Converted,10.4,Measured,...,NaN,NaN,Americas (HIC),Amr (HIC),NaN,NaN,10-<15,yellow,<20,green
641,2606.0,USA,United States of America,Albany-Schenectady-Troy,13.482532,2014,-,Converted,7.3,Measured,...,NaN,NaN,Americas (HIC),Amr (HIC),NaN,NaN,<10,green,<20,green
642,2608.0,USA,United States of America,Alexandria,14.221301,2014,-,Converted,7.7,Measured,...,NaN,NaN,Americas (HIC),Amr (HIC),NaN,NaN,<10,green,<20,green
643,2609.0,USA,United States of America,Allegan,16.068223,2014,-,Converted,8.7,Measured,...,NaN,NaN,Americas (HIC),Amr (HIC),NaN,NaN,<10,green,<20,green

In [81]:


air_cities = air_data_df["CityName"].unique()

air_cities = np.array(air_cities).tolist()

In [82]:
diabetes_cities = diabetes_data_df["CityName"].unique()

diabetes_cities = np.array(diabetes_cities).tolist()

diabetes_cities

['Inglewood',
 'Huntsville',
 'Anchorage',
 'Tempe',
 'Yuma',
 'Antioch',
 'Burbank',
 'Folsom',
 'Moreno Valley',
 'Palmdale',
 'Riverside',
 'Roseville',
 'San Francisco',
 'San Jose',
 'Stamford',
 'Wilmington',
 'Cape Coral',
 'Hollywood',
 'Melbourne',
 'Pompano Beach',
 'Santa Clara',
 'Santa Maria',
 'Thousand Oaks',
 'Union City',
 'Vacaville',
 'West Covina',
 'Fort Collins',
 'Thornton',
 'Lafayette',
 'Des Moines',
 'Sioux City',
 'Olathe',
 'Boston',
 'Cambridge',
 'Brooklyn Park',
 'Gulfport',
 'Manchester',
 'Nashua',
 'Jersey City',
 'New York',
 'Rochester',
 'Syracuse',
 'Yonkers',
 'Asheville',
 'Charlotte',
 'Concord',
 'Fayetteville',
 'Raleigh',
 'Fargo',
 'Cleveland',
 'Columbus',
 'Broken Arrow',
 'Lawton',
 'Tulsa',
 'Gresham',
 'Salem',
 'Bethlehem',
 'Erie',
 'Warwick',
 'Columbia',
 'Knoxville',
 'Memphis',
 'Austin',
 'Beaumont',
 'Dallas',
 'Fort Worth',
 'Garland',
 'Alexandria',
 'Chesapeake',
 'Hampton',
 'Newport News',
 'Virginia Beach',
 'Federal Way',
 'Yakima',
 'Green Bay',
 'Gilbert',
 'Milwaukee',
 'Waukesha',
 'Birmingham',
 'Chandler',
 'Mobile',
 'Hoover',
 'Tuscaloosa',
 'Montgomery',
 'Avondale',
 nan,
 'Killeen',
 'Longview',
 'McKinney',
 'Plano',
 'Phoenix',
 'Glendale',
 'Mesa',
 'Peoria',
 'Corona',
 'Anaheim',
 'Tucson',
 'Little Rock',
 'Surprise',
 'Alhambra',
 'Scottsdale',
 'Springdale',
 'Fort Smith',
 'Jonesboro',
 'Alameda',
 'Daly City',
 'Bakersfield',
 'Berkeley',
 'Chula Vista',
 'Bellflower',
 'Compton',
 'Downey',
 'Carson',
 'Carlsbad',
 'Buena Park',
 'Citrus Heights',
 'Chino',
 'Costa Mesa',
 'Apple Valley',
 'Clovis',
 'Baldwin Park',
 'Chico',
 'Chino Hills',
 'Long Beach',
 'Elk Grove',
 'Fresno',
 'El Cajon',
 'Fontana',
 'Escondido',
 'El Monte',
 'Hayward',
 'Hawthorne',
 'Fullerton',
 'Fairfield',
 'Fremont',
 'Garden Grove',
 'Lake Forest',
 'Irvine',
 'Huntington Beach',
 'Lakewood',
 'Lancaster',
 'Hesperia',
 'Indio',
 'Hemet',
 'Livermore',
 'Arvada',
 'Los Angeles',
 'Mission Viejo',
 'Newport Beach',
 'Menifee',
 'Napa',
 'Murrieta',
 'Manteca',
 'Milpitas',
 'Modesto',
 'Merced',
 'Mountain View',
 'Norwalk',
 'Lynwood',
 'San Diego',
 'Oakland',
 'Rialto',
 'Orange',
 'Pomona',
 'Richmond',
 'Rancho Cucamonga',
 'Pleasanton',
 'Oxnard',
 'Redding',
 'Pasadena',
 'Redlands',
 'Ontario',
 'Redwood City',
 'Perris',
 'Oceanside',
 'Redondo Beach',
 'Sacramento',
 'San Bernardino',
 'Salinas',
 'San Buenaventura (Ventura)',
 'Whittier',
 'San Mateo',
 'San Ramon',
 'San Marcos',
 'San Leandro',
 'Westminster',
 'Vallejo',
 'Santa Barbara',
 'Torrance',
 'Simi Valley',
 'Santa Ana',
 'Stockton',
 'Upland',
 'Tustin',
 'Turlock',
 'Santa Clarita',
 'Tracy',
 'Santa Rosa',
 'South Gate',
 'Temecula',
 'Sunnyvale',
 'Santa Monica',
 'Bridgeport',
 'Visalia',
 'Denver',
 'Boulder',
 'Colorado Springs',
 'Victorville',
 'Aurora',
 'Centennial',
 'Vista',
 'Chicago',
 'Longmont',
 'New Britain',
 'Waterbury',
 'Danbury',
 'Pueblo',
 'New Haven',
 'Hartford',
 'Greeley',
 'Loveland',
 'Gainesville',
 'Clearwater',
 'Hialeah',
 'Coral Springs',
 'Washington',
 'Deerfield Beach',
 'Fort Lauderdale',
 'Davie',
 'Deltona',
 'Boca Raton',
 'Boynton Beach',
 'Jacksonville',
 'Lakeland',
 'Orlando',
 'Miami',
 'Palm Bay',
 'Lauderhill',
 'Palm Coast',
 'Largo',
 'Miami Beach',
 'Miami Gardens',
 'Miramar',
 'St. Petersburg',
 'Tampa',
 'Tallahassee',
 'Sunrise',
 'Port St. Lucie',
 'Pembroke Pines',
 'Atlanta',
 'Athens',
 'West Palm Beach',
 'Plantation',
 'Albany',
 'Honolulu',
 'Boise City',
 'Macon',
 'Augusta',
 'Nampa',
 'Savannah',
 'Johns Creek',
 'Sandy Springs',
 'Meridian',
 'Roswell',
 'Warner Robins',
 'Bloomington',
 'Bolingbrook',
 'Champaign',
 'Arlington Heights',
 'Elgin',
 'Palatine',
 'Evanston',
 'Decatur',
 'Cicero',
 'Naperville',
 'Joliet',
 'Waukegan',
 'Indianapolis',
 'Evansville',
 'Rockford',
 'Gary',
 'Springfield',
 'Fort Wayne',
 'Fishers',
 'Schaumburg',
 'Carmel',
 'Hammond',
 'Wichita',
 'New Orleans',
 'Overland Park',
 'Muncie',
 'Topeka',
 'South Bend',
 'Waterloo',
 'Lawrence',
 'Kansas City',
 'Cedar Rapids',
 'Davenport',
 'Iowa City',
 'Baton Rouge',
 'Louisville',
 'Lake Charles',
 'Lexington',
 'Kenner',
 'Baltimore',
 'Brockton',
 'Shreveport',
 'Detroit',
 'Portland',
 'Lowell',
 'Lynn',
 'New Bedford',
 'Ann Arbor',
 'Fall River',
 'Quincy',
 'Worcester',
 'Somerville',
 'Dearborn',
 'Newton',
 'Grand Rapids',
 'Sterling Heights',
 'Duluth',
 'Kalamazoo',
 'Westland',
 'Lansing',
 'Flint',
 'Warren',
 'Wyoming',
 'Livonia',
 'Southfield',
 'Farmington Hills',
 'Rochester Hills',
 'Troy',
 'Paterson',
 'Plymouth',
 'Minneapolis',
 'Jackson',
 'Independence',
 'St. Joseph',
 "Lee's Summit",
 'St. Paul',
 "O'Fallon",
 'Las Vegas',
 'Omaha',
 'Billings',
 'St. Louis',
 'Henderson',
 'Lincoln',
 'Missoula',
 'Clifton',
 'Sparks',
 'Reno',
 'North Las Vegas',
 'Newark',
 'Camden',
 'Elizabeth',
 'Passaic',
 'Trenton',
 'Albuquerque',
 'Santa Fe',
 'Mount Vernon',
 'Las Cruces',
 'Buffalo',
 'New Rochelle',
 'Gastonia',
 'Rio Rancho',
 'Durham',
 'Winston-Salem',
 'Greenville',
 'Cary',
 'Schenectady',
 'Greensboro',
 'High Point',
 'Cincinnati',
 'Canton',
 'Akron',
 'Rock Hill',
 'Oklahoma City',
 'Parma',
 'Dayton',
 'Edmond',
 'Norman',
 'Youngstown',
 'Toledo',
 'Sioux Falls',
 'Beaverton',
 'Medford',
 'Eugene',
 'Bend',
 'Hillsboro',
 'Philadelphia',
 'Pittsburgh',
 'Allentown',
 'Arlington',
 'Rapid City',
 'Charleston',
 'Scranton',
 'Chattanooga',
 'Clarksville',
 'Providence',
 'North Charleston',
 'Reading',
 'Pawtucket',
 'Mount Pleasant',
 'Cranston',
 'Amarillo',
 'Murfreesboro',
 'Abilene',
 'Nashville',
 'Allen',
 'Brownsville',
 'Baytown',
 'Carrollton',
 'Corpus Christi',
 'College Station',
 'Bryan',
 'El Paso',
 'Denton',
 'Frisco',
 'Edinburg',
 'Houston',
 'Grand Prairie',
 'Laredo',
 'Lewisville',
 'Lubbock',
 'Mission',
 'Mesquite',
 'McAllen',
 'Missouri City',
 'Odessa',
 'League City',
 'Midland',
 'Pearland',
 'Irving',
 'Kenosha',
 'Vancouver',
 'San Antonio',
 'San Angelo',
 'Waco',
 'Wichita Falls',
 'Pharr',
 'Round Rock',
 'Richardson',
 'Sugar Land',
 'Tyler',
 'Ogden',
 'Portsmouth',
 'Provo',
 'West Jordan',
 'Sandy',
 'Norfolk',
 'Burlington',
 'Orem',
 'Layton',
 'West Valley City',
 'Lynchburg',
 'Salt Lake City',
 'St. George',
 'Kennewick',
 'Suffolk',
 'Seattle',
 'Auburn',
 'Kent',
 'Bellingham',
 'Everett',
 'Roanoke',
 'Renton',
 'Bellevue',
 'Spokane',
 'Appleton',
 'Spokane Valley',
 'Tacoma',
 'Cheyenne',
 'Madison',
 'Racine']

In [83]:
new_cities = []

# create a for loop for each city list that checks if the city name matches
for city in air_cities:
    for i in diabetes_cities:
        if city == i:
            new_cities.append(city)

print(new_cities)

['Akron', 'Alexandria', 'Ann Arbor', 'Asheville', 'Athens', 'Boulder', 'Cambridge', 'Chattanooga', 'Cheyenne', 'Colorado Springs', 'Corpus Christi', 'Dayton', 'Decatur', 'Evansville', 'Fargo', 'Flint', 'Fort Smith', 'Gainesville', 'Greeley', 'Hammond', 'Huntsville', 'Jackson', 'Lafayette', 'Lake Charles', 'Lakeland', 'Lincoln', 'Lynchburg', 'Medford', 'Merced', 'Mobile', 'Montgomery', 'Muncie', 'Oklahoma City', 'Pueblo', 'Reading', 'Redding', 'Roanoke', 'San Antonio', 'Sioux City', 'Sioux Falls', 'Spokane', 'Syracuse', 'Tallahassee', 'Toledo', 'Topeka', 'Tucson', 'Tuscaloosa', 'Warner Robins', 'Wichita', 'Albany', 'Albuquerque', 'Allentown', 'Anaheim', 'Anchorage', 'Apple Valley', 'Appleton', 'Atlanta', 'Auburn', 'Bakersfield', 'Baltimore', 'Baton Rouge', 'Bellevue', 'Bellingham', 'Bloomington', 'Boston', 'Bridgeport', 'Brockton', 'Burlington', 'Camden', 'Cedar Rapids', 'Charleston', 'Chico', 'Clarksville', 'Cleveland', 'Clovis', 'Columbia', 'Columbus', 'Concord', 'Dallas', 'Davenport', 'Davie', 'Denver', 'Des Moines', 'Detroit', 'Duluth', 'Durham', 'El Paso', 'Elizabeth', 'Erie', 'Fall River', 'Fayetteville', 'Folsom', 'Fort Collins', 'Fort Wayne', 'Fresno', 'Gary', 'Glendale', 'Green Bay', 'Greensboro', 'Greenville', 'Hartford', 'Henderson', 'Honolulu', 'Houston', 'Iowa City', 'Jacksonville', 'Jersey City', 'Kansas City', 'Kenner', 'Kent', 'Knoxville', 'Lancaster', 'Las Vegas', 'Lawton', 'Lexington', 'Livermore', 'Long Beach', 'Los Angeles', 'Louisville', 'Lynn', 'Macon', 'Madison', 'Memphis', 'Mesa', 'Miami', 'Minneapolis', 'Missoula', 'Modesto', 'Mountain View', 'Napa', 'Nashville', 'New Haven', 'New York', 'Newark', 'North Charleston', 'North Las Vegas', 'Oakland', 'Ogden', 'Omaha', 'Ontario', 'Philadelphia', 'Phoenix', 'Pittsburgh', 'Portland', 'Portsmouth', 'Providence', 'Provo', 'Quincy', 'Raleigh', 'Rapid City', 'Redwood City', 'Reno', 'Richmond', 'Rochester', 'Salinas', 'Salt Lake City', 'San Diego', 'San Francisco', 'San Jose', 'Santa Barbara', 'Santa Maria', 'Scranton', 'Seattle', 'Simi Valley', 'South Bend', 'Sparks', 'Springfield', 'St. Joseph', 'St. Louis', 'St. Paul', 'Stockton', 'Tacoma', 'Tampa', 'Tempe', 'Thousand Oaks', 'Trenton', 'Tulsa', 'Vallejo', 'Victorville', 'Virginia Beach', 'Washington', 'Waterbury', 'Wilmington', 'Winston-Salem', 'Worcester', 'Yakima', 'Yuma']

In [85]:

clean_air_df = air_data_df.loc[air_data_df['CityName'].isin(new_cities)]

clean_air_df.head()

,ID WHO city,iso3,country,CityName,pm10,Year,type_of_stations,pm10_type,pm25,pm25_type,...,latitude_pop,longitude_pop,Region,region_abbr,tempcov_PM10_grad,tempcov_PM25_grad,conc_pm25,color_pm25,conc_pm10,color_pm10
640,2605.0,USA,United States of America,Akron,19.207991,2014,-,Converted,10.4,Measured,...,NaN,NaN,Americas (HIC),Amr (HIC),NaN,NaN,10-<15,yellow,<20,green
642,2608.0,USA,United States of America,Alexandria,14.221301,2014,-,Converted,7.7,Measured,...,NaN,NaN,Americas (HIC),Amr (HIC),NaN,NaN,<10,green,<20,green
645,2614.0,USA,United States of America,Ann Arbor,18.099838,2014,-,Converted,9.8,Measured,...,NaN,NaN,Americas (HIC),Amr (HIC),NaN,NaN,<10,green,<20,green
646,2616.0,USA,United States of America,Asheville,14.405993,2014,-,Converted,7.8,Measured,...,NaN,NaN,Americas (HIC),Amr (HIC),NaN,NaN,<10,green,<20,green
648,2618.0,USA,United States of America,Athens,14.405993,2014,-,Converted,7.8,Measured,...,NaN,NaN,Americas (HIC),Amr (HIC),NaN,NaN,<10,green,<20,green

In [87]:
# clean diabetes 
clean_diabetes_df = diabetes_data_df.loc[diabetes_data_df['CityName'].isin(new_cities)]

clean_diabetes_df.head()

,Year,StateAbbr,StateDesc,CityName,GeographicLevel,DataSource,Category,UniqueID,Measure,Data_Value_Unit,...,High_Confidence_Limit,Data_Value_Footnote_Symbol,Data_Value_Footnote,PopulationCount,GeoLocation,CategoryID,MeasureId,CityFIPS,TractFIPS,Short_Question_Text
1,2017,AL,Alabama,Huntsville,Census Tract,BRFSS,Health Outcomes,0137000-01089002922,Diagnosed diabetes among adults aged >=18 Years,%,...,10.3,NaN,NaN,4387,"(34.612755588, -86.5329568642)",HLTHOUT,DIABETES,137000.0,1.089003e+09,Diabetes
2,2017,AK,Alaska,Anchorage,Census Tract,BRFSS,Health Outcomes,0203000-02020002501,Diagnosed diabetes among adults aged >=18 Years,%,...,7.8,NaN,NaN,4993,"(61.1593945029, -149.899866691)",HLTHOUT,DIABETES,203000.0,2.020003e+09,Diabetes
3,2017,AZ,Arizona,Tempe,Census Tract,BRFSS,Health Outcomes,0473000-04013319907,Diagnosed diabetes among adults aged >=18 Years,%,...,7.9,NaN,NaN,2225,"(33.3419171912, -111.919809152)",HLTHOUT,DIABETES,473000.0,4.013320e+09,Diabetes
4,2017,AZ,Arizona,Yuma,City,BRFSS,Health Outcomes,0485540,Diagnosed diabetes among adults aged >=18 Years,%,...,11.3,NaN,NaN,93064,"(32.5986027117, -114.54836837)",HLTHOUT,DIABETES,485540.0,NaN,Diabetes
7,2017,CA,California,Folsom,City,BRFSS,Health Outcomes,0624638,Diagnosed diabetes among adults aged >=18 Years,%,...,7.3,NaN,NaN,72203,"(38.6750494328, -121.147605753)",HLTHOUT,DIABETES,624638.0,NaN,Diabetes

In [89]:
# Merge the datasets together

clean_air_dia_df = pd.merge(clean_air_df, clean_diabetes_df, how="left", on=["CityName","CityName"])


clean_air_dia_df

,ID WHO city,iso3,country,CityName,pm10,Year_x,type_of_stations,pm10_type,pm25,pm25_type,...,High_Confidence_Limit,Data_Value_Footnote_Symbol,Data_Value_Footnote,PopulationCount,GeoLocation,CategoryID,MeasureId,CityFIPS,TractFIPS,Short_Question_Text
0,2605.0,USA,United States of America,Akron,19.207991,2014,-,Converted,10.4,Measured,...,12.9,NaN,NaN,6574,"(41.0807560689, -81.4503350072)",HLTHOUT,DIABETES,3901000.0,3.915350e+10,Diabetes
1,2605.0,USA,United States of America,Akron,19.207991,2014,-,Converted,10.4,Measured,...,25.7,NaN,NaN,2913,"(41.0806403452, -81.5509027089)",HLTHOUT,DIABETES,3901000.0,3.915351e+10,Diabetes
2,2605.0,USA,United States of America,Akron,19.207991,2014,-,Converted,10.4,Measured,...,18.6,NaN,NaN,1491,"(41.0499564598, -81.5233458795)",HLTHOUT,DIABETES,3901000.0,3.915350e+10,Diabetes
3,2605.0,USA,United States of America,Akron,19.207991,2014,-,Converted,10.4,Measured,...,15.6,NaN,NaN,5642,"(41.0968405496, -81.4884726996)",HLTHOUT,DIABETES,3901000.0,3.915350e+10,Diabetes
4,2605.0,USA,United States of America,Akron,19.207991,2014,-,Converted,10.4,Measured,...,11.1,NaN,NaN,2910,"(41.095228314, -81.5489870893)",HLTHOUT,DIABETES,3901000.0,3.915351e+10,Diabetes
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
39185,NaN,USA,United States of America,Yuma,17.307898,2016,1 Urban And Center City,Converted,8.3,Measured,...,10.8,NaN,NaN,2922,"(32.691176796, -114.654751847)",HLTHOUT,DIABETES,485540.0,4.027001e+09,Diabetes
39186,NaN,USA,United States of America,Yuma,17.307898,2016,1 Urban And Center City,Converted,8.3,Measured,...,NaN,*,Estimates suppressed for population less than 50,8,"(32.7054763729, -114.600679055)",HLTHOUT,DIABETES,485540.0,4.027011e+09,Diabetes
39187,NaN,USA,United States of America,Yuma,17.307898,2016,1 Urban And Center City,Converted,8.3,Measured,...,17.1,NaN,NaN,1108,"(32.6729492819, -114.626631938)",HLTHOUT,DIABETES,485540.0,4.027001e+09,Diabetes
39188,NaN,USA,United States of America,Yuma,17.307898,2016,1 Urban And Center City,Converted,8.3,Measured,...,NaN,*,Estimates suppressed for population less than 50,6,"(32.6322428642, -114.487294845)",HLTHOUT,DIABETES,485540.0,4.027011e+09,Diabetes
39189,NaN,USA,United States of America,Yuma,17.307898,2016,1 Urban And Center City,Converted,8.3,Measured,...,12.9,NaN,NaN,2502,"(32.7125974415, -114.618176873)",HLTHOUT,DIABETES,485540.0,4.027000e+09,Diabetes

In [90]:
# export the csv for Air_Diabetes

clean_air_dia_df.to_csv('Air_v_Diabetes_Database.csv')